<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Delimeter" value=","/>
    <add key="KeyColumn" value="Email"/>
    <add key="UserList" value="C:\cert\1.csv"/>
    <add key="Template" value="C:\cert\11.pptx"/>
    <add key="OutputFolder" value="C:\cert"/>


    <add key="EmailFrom" value="test@gmail.com"/>
    <add key="EmailSenderName" value="test [A Non-Profit Org.]"/>

    <add key="EmailBodyFileName" value="C:\cert\message.txt"/>
    <add key="EmailSubject" value="Testing"/>
    <add key="EmailSMTPHost" value="smtp.gmail.com"/>
    <add key="EmailSMTPPort" value="587"/>
    <add key="EmailEnableSSL" value="True"/>
    <add key="EmailPassword" value="pwd"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
